* {
    box-sizing: border-box;
}


header p {
    background-color: rgb(54, 54, 54);
    margin: 1em;
    margin-bottom: 0;
    padding: 1em;
    padding-bottom: 2em;

}
header nav {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    justify-content: space-around;
    margin: 1em;
    padding-bottom: 1em;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1em;

}

nav a {
    color: white;
    flex: 0 1 auto; 
}

main {
    display: grid;
    grid-template: 200px / auto 300px;
    margin: 1em;
    margin-top: 0;
    margin-bottom: 0;
}
.main-content {
    grid-column: 1 / 2;
    background-color: grey;
    padding-top: 0;
    -bottom: 0;
}

.aside-content {
    grid-column: 2 / 3;
}

footer {
    background-color: rgb(54, 54, 54);
    padding: .5em;
    margin: 1em;
    margin-top: 0;
}