@media screen and (min-width: 37.5em) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }

    #menu {
        display: none;
    }


    nav {
        display: block;      
        position: static;   
    }

    nav ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    nav a {
        display: inline-block;
        color: black;
        padding: 0.15rem 0.5rem;
    }
}